<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
<title>{block name="title"}{/block}</title>

    <!-- Bootstrap core CSS -->
    <link href="__STATIC__/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="__STATIC__/vendor/prompt/src/style/haiwiMsg.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <!-- <link href="starter-template.css" rel="stylesheet"> -->

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- <script src="../../assets/js/ie-emulation-modes-warning.js"></script> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script> -->
    <script src="__STATIC__/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="__STATIC__/vendor/prompt/src/jquery.haiwiMsg.js"></script>
   
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
        {block name="css"}{/block}
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">BLOG</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar">
          <p class="navbar-text">欢迎您：管理员</p>
          <button type="button" class="btn btn-default navbar-btn navbar-right"><a href="{:url('index/index/j_logout')}" class="navbar-link">退出</a></button>
          <button type="button" class="btn btn-default navbar-btn navbar-right"><a href="{:url('index/index/index')}" class="navbar-link">返回前台</a></button>
        </div>
    </div>
  </nav>
{block name="main"}{/block}
{block name="footer"}{/block}
</body>
<script type="text/javascript">
        function showSuccess(msg){
            $.thSuccess(msg);
        }
        function showError(msg){
            $.thError(msg);
        }
</script>
{block name="script"}{/block}
</html>
