{extend name="../application/common/view/admin/base.html" /}
{block name="title"}list{/block}
{block name="main"}
    <div class="container jumbotron">
      <div class="form-horizontal has-feedback">
        <div class="form-group">
          <label class="control-label col-xs-3">一级类型</label>
          <div class="col-xs-7">
            <select class="form-control" name="p_id" id="p_id">
              <option value="0">请选择一级类型</option>
              {volist name="cateList" id="vo"}
              <option value="{$vo.id}">{$vo.name}</option>
              {/volist}
            </select>
            <!-- <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span> -->
          </div>  
        </div>
        <div class="form-group ">
          <label class="control-label col-xs-3">类型名称</label>
          <div class="col-xs-7">
            <input type="text" id="name" name="name" class="form-control" placeholder="title">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true">&nbsp;&nbsp;</span>
          </div>
        </div>
          <div class="row">
            <div class="col-xs-offset-5 col-xs-1">
              <button type="submit" id="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="col-xs-1">
              <button type="reset" onclick="history.back(); " class="btn btn-primary">reset</button>
            </div>
          </div>
      </div>
    </div>
{/block}
<!--{block name="footer"}{/block}-->
{block name="script"}
<script type="text/javascript">
    $(document).ready(function(){
        $('#submit').click(function(){
            var p_id = $('#p_id').val();
            var name = $('#name').val();
            $.ajax({
                type: "POST",
                url: "/admin/execute/j_addcategory",
                data: {p_id:p_id,name:name},
                dataType:'json',
                success: function(result){
                    showSuccess(result.msg);
                    setTimeout("window.location.href='/admin/query/categorylist'",1000);
                },
                error:function(result){
                    showError(JSON.parse(result.responseText).msg);
                }
            });
        });
    });

</script>
{/block}
