{extend name="../application/common/view/admin/base.html" /}
{block name="title"}list{/block}
{block name="main"}
    <div class="container jumbotron">
      <div class="form-horizontal has-feedback">
        <div class="form-group">
          <label class="control-label col-xs-3">角色</label>
          <div class="col-xs-7">
            <select class="form-control" name="role_id" id="role_id">
              <option>请选择角色</option>
              {volist name="roleList" id="vo"}
                    <option value="{$vo.id}">{$vo.name}</option>
              {/volist}
            </select>
          </div> 
          <div class="col-xs-1"><div class="col-xs-1"><span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true">&nbsp;&nbsp;&nbsp;&nbsp;</span></div></div>
        </div>
        <div class="form-group ">
          <label class="control-label col-xs-3">用户名</label>
          <div class="col-xs-7">
            <input type="text" id="name" name="name" class="form-control" placeholder="用户名">
          </div>
          <div class="col-xs-1"><div class="col-xs-1"><span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span></div></div>
        </div>
          <div class="form-group ">
          <label class="control-label col-xs-3">账号</label>
          <div class="col-xs-7">
            <input type="text" id="uname" name="uname" class="form-control" placeholder="账号">
          </div>
          <div class="col-xs-1"><div class="col-xs-1"><span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span></div></div>
        </div>
          <div class="form-group ">
          <label class="control-label col-xs-3">密码</label>
          <div class="col-xs-7">
            <input type="password" id="password" name="password" class="form-control" placeholder="密码">
          </div>
          <div class="col-xs-1"><div class="col-xs-1"><span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span></div></div>
        </div>
        <div class="form-group ">
          <label class="control-label col-xs-3">确认密码</label>
          <div class="col-xs-7">
            <input type="password" id="password_confirm" name="password_confirm" class="form-control" placeholder="确认密码">
          </div>
          <div class="col-xs-1"><div class="col-xs-1"><span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span></div></div>
        </div>
          <div class="row">
            <div class="col-xs-offset-5 col-xs-1">
              <button type="submit" id="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="col-xs-1">
              <button type="reset" onclick="history.back(); " class="btn btn-primary">reset</button>
            </div>
          </div>
      </div>
    </div>
{/block}
{block name="script"}
<script type="text/javascript">
    $(document).ready(function(){
        $('#submit').click(function(){
            var role_id = $('#role_id').val();
            var name = $('#name').val();
            var uname = $('#uname').val();
            var password = $('#password').val();
            var password_confirm = $('#password_confirm').val();
            $.ajax({
                type: "POST",
                url: "/admin/execute/j_adduser",
                data: {role_id:role_id,name:name,uname:uname,password:password,password_confirm:password_confirm},
                dataType:'json',
                success: function(result){
                    showSuccess(result.msg);
                    setTimeout("window.location.href='/admin/query/userlist'",1000);
                },
                error:function(result){
                    showError(JSON.parse(result.responseText).msg);
                }
            });
        });
    });

</script>
{/block}
